/* Background with image */
.bg-image {
    background-image: url("./petLogin.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
