/* Background with image */
.signup-bg {
    background-image: url('./petLogin.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
